@model int

@{string lnk = "http://www.aruuz.com/mypoetry/poetry/" + Model.ToString();

}

<div class="row urdu">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
        <p class="center-align">
        @Html.Label("مستقل ربط")
            </p>
        <br>
        <p class="center-align">
        @Html.TextBoxFor(item => lnk, new { @class = "form-control" })
            </p>
     </div>
</div>

